body{
	font-family: "メイリオ";
	font-size: small;
	overflow: hidden;
	background:#f0ffff
	/*
	background:url(MyImage/background.bmp);
	background:rgba(255,255,255,0.5);
	*/
}

textarea#post_status{
	width: 100%;
}

button{
	font-size: 100%;
	padding: 5px;
}
button#in_reply_to_delete{float:right;}
button#post_button{float: right;}

hr{
	clear: both;
}

.tab ul{ 
	
}
.tab li{
	list-style-type:none;
	text-align:center;
	float:left;
	border: solid 1px #C0C0C0;
	background:-webkit-gradient(linear, left top, left bottom, from(rgba(190,190,190,0.7)), to(rgba(140,140,140,0.7)));
}
.selected{
	background:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(205,205,205,0.8)));
}
.tab a{
	text-decoration:none;
	color:#000;
	display:block;
	padding:1px 5px;
	
}

.maintab{
	width: 100%;
	overflow: scroll;
	display:none;
}
.mypost{background:rgb(184,212,255)}
.mention{background:rgb(255,222,166)}
.retweeted{background:rgb(183,255,168)}

#reply_tip ,#QT_tip ,#fav_tip{
	padding:1px;
	background:rgb(250,229,123);
	border:solid 1px #C0C0C0;;
	font-size:x-small;
	display:none;
	position:absolute;
}

#timeline{
	display:block;
}

#textcount{
	font-size:130%;
}

#status_bar{
	background:rgb(235,235,235);
	padding:2px;
	border: solid 1px #C0C0C0;
	width:100%;
	height:20px;
	position:absolute;
	bottom:0px;
}

.tweet input{width:25px;height:25px;}
.doicon{float:right;text-align:right;}


.tweet{	width: 100%;}
.tweet_image{margin-bottom:5px;}
.tweet_value{overflow: hidden;}
.tweet img{
	height: 50px; width: 50px;
	float: left
}

#backgray{
	top:0;left:0;
	position:fixed;
	width:100%;height:100%;
	background:rgba(0,0,0,0.7);
	display:none;
}
#outimage{
	display:none;
	position:fixed;
	top:50%;left:50%;
	margin-top:-170px ;margin-left:-250px ;
}
#outimage input[type="text"]{width:20px;}
#after_top{width:500px;height:30px;background:#000;color:#fff;font-size:140%;border-radius:12px 12px 0px 0px;margin:0px auto;padding-left:10px}
#after_bottom{width:470px;height:300px;background:#b0c4de;margin:0px auto;padding-left:40px;}
#after_area{width:80%;height:40%;border-radius:7px;}
